.logo {
  text-align: center;
  margin-top: 2%;
}

#spacer {
  padding: 15px;
}

#textbox {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 20px; 
  width: 30%;
  height: 100%;  
}

.invalidText {
  font-size: smaller;
  color: red
}