.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}  

.flex-child:first-child {
    margin-right: 10%;
} 

.wideBox {
    background-color: #076AE0;
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    margin-top: 25px;
}

.wideBox2 {
    background-color: #076AE0;
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
}

.wideBox3 {
    background-color: #076AE0;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 35%;
    border: none;
    font-size: 15px;
    padding: 20px;
    width: 60%;
}

.container {
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider {
    background-color: #fff;
    text-align: center;
    color: white;
    width: 20px;
    height: auto;
    float: left;
}

#pic {
    margin-left: 11%;
    margin-right: 11%;
}